[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enshuman"]
	path = enshuman
	url = https://github.com/cran/enshuman
[submodule "topr"]
	path = topr
	url = https://github.com/totajuliusd/topr
[submodule "toprdata"]
	path = toprdata
	url = https://github.com/cran/toprdata
